<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>

<head>
    <th:block th:insert="~{base :: head}"></th:block>
    <script src="/js/toggleLoggedFilters.js" defer></script>

    <title>AuctionApp - New Password</title>
</head>
<body>

<header th:replace="~{base :: header}"></header>

<main>
    <section class="login-form wrapper-center">
        <div th:if="${isValid}">
            <h1 th:text="#{forgotten.reset}" class="mt-20"></h1>
            <form th:action="@{/changePassword}" method="post" class="mt-50">
                <label th:text="|#{member.profile.edit.new.password.label} :|"></label>
                <input th:name="password" type="password" th:placeholder="#{member.profile.edit.new.password.placeholder}">
                <input th:name="memberId" th:value="${member.getId()}" hidden>
                <input th:name="token" th:value="${token}" hidden>
                <button th:text="#{forgotten.confirm_reset}" type="submit" class="a_button-black mt-20 wrapper-center"></button>
            </form>
        </div>
        <div th:if="${!isValid}">
            <h2 th:text="#{forgotten.token_expired}" class="wrapper-center mt-50"></h2>
        </div>
    </section>
</main>

<footer th:replace="~{base :: footer}"></footer>
</body>
</html>