<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>

<head>
    <th:block th:insert="~{base :: head}"></th:block>
    <title>AuctionApp - Reset Password</title>
</head>
<body>

<header th:replace="~{base :: header}"></header>

<main>
	<section class="wrapper-center">
		<h1 th:if="${#locale.getLanguage() == 'en'}">Forgot <b class="text-secondary">your</b> password ? </h1>	
		<h1 th:if="${#locale.getLanguage() == 'fr'}">Un trou <b class="text-secondary">de</b> mémoire ? </h1>
		
		<div class="wrapper-center">
		    <form th:action="@{/resetPassword}" method="post" class="login-form">
		        <input th:name="email" name="email" type="email" th:placeholder="#{member.property.email.placeholder}" class="mt-10 mb-20"/>
		        <button type="submit" th:text="#{forgotten.send_reset}" class="a_button-black"></button>
		    </form>
	    </div>
    </section>
</main>

<footer th:replace="~{base :: footer}"></footer>

</body>
</html>